[mysqld]
# ------------------------------------------------------------------------------
# 文字コード設定
# ------------------------------------------------------------------------------
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

# ------------------------------------------------------------------------------
# タイムゾーン設定
# ------------------------------------------------------------------------------
default-time-zone='UTC'

# ------------------------------------------------------------------------------
# ログ出力設定
# ------------------------------------------------------------------------------
log-output=FILE
general-log=1
general_log_file="/var/log/mysql/general.log"
slow-query-log=1
slow_query_log_file="/var/log/mysql/slow_query.log"
long_query_time=10
log-error="/var/log/mysql/error.log"

# ------------------------------------------------------------------------------
# レプリケーション設定
# ------------------------------------------------------------------------------
# 各MySQLサーバを識別するためのIDの設定
server-id=1

# GTIDの有効化
gtid_mode=ON

# GTIDと併用できないSQL文を禁止する
enforce_gtid_consistency=ON

# バイナリログの有効化
log_bin="/var/log/mysql/mysql-bin"

# バイナリログをコミットと同時にディスクに書込む
sync_binlog=1

# ------------------------------------------------------------------------------
# クライアント設定
# ------------------------------------------------------------------------------
[client]
default-character-set=utf8mb4
